.chat__content {
  flex-grow: 1;
  overflow-y: auto;
}

.chat__content_no_messages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__content-messages {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 1rem;
  padding-right: 2rem;
}