.button {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
  transition: all .15s linear;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--blue-hovered);
  }

  &__red {
    background: var(--red);

    &:hover {
      background: var(--red);
    }
  }
}

.button__outlined {
  background: var(--blue);
  color: var(--white);

  &:hover {
    color: var(--blue);
    background: var(--white);
  }
}
