.button {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--black);
  background: var(--white);
  color: var(--blue);
  transition: all .3s linear;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    color: var(--white);
    background: var(--blue);
  }
}

.button__outlined {
  background: var(--blue);
  color: var(--white);

  &:hover {
    color: var(--blue);
    background: var(--white);
  }
}