<aside class="profile__aside" to="{{to}}">
  <button class="profile__aside__button" to="{{to}}">
    <img src=" ../../../assets/icons/arrowLeftIcon.svg" alt="Вернуться к чатам" />
  </button>
</aside>