.file-input__container {
  .file-input__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .file-input__label {
    cursor: pointer;
    color: var(--blue);
    text-decoration: underline;
  }
}