<div class="file-input__container {{extraClass}}">
  <input type="file" class="file-input__input" name="{{name}}" id="{{id}}" />
  <label class="file-input__label" for="{{id}}">Выбрать файл на компьютере</label>
</div>