.input {
  width: 100%;

  border: none;
  border-bottom: 1px solid var(--blue);

  padding: 7px 0px;
  color: var(--black);

  &:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--blue);
  }
}

.input__container {
  width: 100%;
  position: relative;
}

.input__label {
  font-size: 0.8rem;
  color: var(--dark-gray);
}
