.error-page_title {
  margin-bottom: 20px;
  text-align: center;
}

.error-page_description {
  margin-bottom: 70px;
  text-align: center;
}

.error-page_link {
  margin-left: auto;
  margin-right: auto;
}