<div class="full-center">
  <div class="flex column">
    <h1 class="typo_h1 error-page_title">{{code}}</h1>
    <h2 class="typo_h2 error-page_description">{{message}}</h2>
    {{> Button type='outlined' text='Назад к чатам' to='/chats' type='button'}}
  </div>
</div>