<div class="sidebar__heading {{extraClass}}" to="/profile">
  <a class="sidebar__link" to="/profile">
    <p class="sidebar__heading-text" to="/profile">Профиль</p>
    <img src="../../../../../public/icons/profileRight.svg" alt="Перейти" class="sidebar__right-icon" />
  </a>
</div>