<div class="sidebar__heading {{extraClass}}">
  <a class="sidebar__link">
    <p class="sidebar__heading-text">Профиль</p>
    <img src={{global "profileRightIcon" }} alt="Перейти" class="sidebar__right-icon" />
  </a>
</div>
