<div class="chat">
  {{> ChatHeader name='Ревьювер'}}
  {{> ChatContent}}
  {{> ChatFooter}}

  {{> UserOperationsModal extraClass='min_modal_width' id='addUserModal' title='Добавить
  пользователя'
  buttonText='Добавить'}}
  {{> UserOperationsModal extraClass='min_modal_width' extraClassButton='red' id='deleteUserModal'
  title='Удалить
  пользователя'
  buttonText='Удалить'}}
</div>
