:root {
  --font-size-m: 1rem;
  --font-size-l: 2rem;
  --font-size-sm: 0.75rem;

  --blue: #3369F3;
  --blue-hovered: #5C87F5;
  --white: #FFFFFF;
  --black: #1E1E1E;
  --red: #FF2F2F;
  --gray: #EFEFEF;
  --dark-gray: #999999;
  --light-blue: #E4EDFD;
  --light: #FBFBFB;
  --light-gray: #EAEAEA;
  --my-message: #2B5278;
}