@import url('./constants.scss');
@import url('./reset.scss');
@import url('./common.scss');
@import url('./custom_scroll.scss');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap'); // шрифты

:root {
  font-family: 'Inter', sans-serif, Arial, Helvetica;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}