{{#> Modal extraClass=extraClass closeButton=true}}
<form class="form__change-password">
  <h1 class="title text-center register__title">Смена пароля</h1>
  <div class="register__inputs">
    {{> Input type='password' name='oldPassword' label='Старый пароль'}}
    {{> Input type='password' name='newPassword' label='Новый пароль'}}
    {{> Input type='password' name='newPasswordAgain' label='Повторите новый пароль'}}
  </div>
  {{> Button type='submit' to='/profile' text='Сохранить'}}
</form>
{{/ Modal}}
