.tooltip__action {
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background: var(--light-gray);
  }
}

.tooltip__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  .file-input__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .file-input__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .tooltip__action_image {
    width: 24px;
    height: 24px;
  }
}