<div class="mainPage">
  {{>Sidebar}}
  {{>Chat}}
  <div class="center column">
    {{>Link to='/404error' text='страница с 404 ошибкой'}}
    {{>Link to='/500error' text='страница с 500 ошибкой'}}
  </div>
</div>