.profile__field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile__field-name {
  font-weight: 600;
  font-size: 1rem;
  color: var(--black);
}

.profile__field-info {
  color: var(--dark-gray);
}
