.sidebar__chat {
  display: flex;
  flex-direction: row;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: 78px;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
  cursor: pointer;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;

  &.selected {
    background: var(--light-blue);
  }
}

.sidebar__chat-avatar {
  max-width: 54px;
  max-height: 54px;
  width: 100%;
  height: 100%;
  background: var(--light-gray);
  border-radius: 50%;
  background-size: cover;
  margin-right: 0.5rem;
}

.sidebar__chat-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0.5rem;
}

.sidebar__chat-name {
  font-weight: 600;
}

.sidebar__chat-message_by-me {
  font-weight: 600;
  font-size: 0.9rem;
}

.sidebar__chat-message {
  font-size: 0.9rem;
  overflow: hidden;
}

.sidebar__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.sidebar__info-date {
  color: var(--dark-gray);
  font-size: 0.8rem;
}

.sidebar__info-unread {
  background: var(--blue);
  border-radius: 50%;
  color: var(--white);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  width: 1.4rem;
  height: 1.4rem;
}