.changeAvatarModal__title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin-bottom: 45px;
}

.changeAvatarModal__fileInput-margin {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}

.changeAvatarModal__error {
  text-align: center;
  color: var(--red);
}
