.login__title {
  margin-bottom: 40px;
  text-align: center;
}

.login__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 160px;
}

.login__button {
  margin-bottom: 1rem;
}