<form class="form form__login {{extraClass}}">
  <h1 class="title login__title">Вход</h1>
  <div class="login__inputs">
    {{> Input type='email' name='login-email' placeholder='Email' label='Логин'}}
    {{> Input type='password' name='login-password' placeholder='Пароль' label='Пароль'}}
  </div>
  <div class="login__buttons">
    {{> Button type='submit' to='/chats' extraClass='login__button' text='Авторизоваться'}}
    {{> Link text='Нет аккаунта?' extraClass='text-center login__link' to='/register'}}
  </div>
</form>